body {
    background-image: url("/Assets/bg.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}


a:hover {
    color: deepskyblue;
}

#mainContent {
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 80%;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

#menuBar {
    height: 5%;
    width: 97%;
    
}

#navContent {
    /*display: inline-table;*/
    text-align: justify;
}

#navContent:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#navContent li {
    display: inline-block;
    vertical-align: middle;
    /*text-align: center;*/
}

.searchBox {
    border: none;
    height: 30px;
    width: 250px;
    opacity: 0.8;
    border-radius: 8px;
    background-color: #D5E5EB;
    background-image: url("/Assets/searchicon.png");
    background-position-y: 50%;
    background-size: 17px;
    background-repeat: no-repeat;
    text-align: center;
}

.searchBox:focus {
    border-width: 0px;
    outline: none;

}

#featuredProducts {
    /*background-color: #D5E5EB;*/ 
    height: 85%;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 5%; bottom: 0; left: 0; right: 0;
    text-align: center;
}

#top {
    display: inline-flex;
    height: 70%;
    width: 100%;
}

#bottom {
    display: inline-flex;
    height: 25%;
    width: 98%;
    padding-top: 20px;



}


#leftFeatured {
    height: 100%;
    width: 50%;
}

.leftFeaturedImg {
    height: 100%;
}

#leftFeaturedText {
    position: absolute;
    top: 0;
    left: 2%;
    color: white;
}

#leftFeaturedText a {
    color: white;
    text-decoration: none;
}

#leftFeaturedText a:hover {
    color: deepskyblue;
}

#rightFeatured {
    height: 100%;
    width: 50%;
}

.rightFeaturedImg {
    height: 100%;
}

#rightFeaturedText {
    position: absolute;
    top: 0;
    right: 2%;
    color: white;
}

#rightFeaturedText a {
    color: white;
    text-decoration: none;
}

#rightFeaturedText a:hover {
    color: deepskyblue;
}

#bottomOne {
    height: 100%;
    width: auto;
    padding-right: 10px;
}

.bottomOneImg {
    height: 100%;
    width: 100%;
}

#bottomOneFeaturedText {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
}

#bottomOneFeaturedText a {
    color: white;
    text-decoration: none;
}

#bottomOneFeaturedText a:hover {
    color: deepskyblue;
}

#bottomTwo {
    height: 100%;
    width: auto;
    padding-right: 10px;

}

.bottomTwoImg {
    height: 100%;
    width: 100%;
}

#bottomTwoFeaturedText {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
}

#bottomTwoFeaturedText a {
    color: white;
    text-decoration: none;
}

#bottomTwoFeaturedText a:hover {
    color: deepskyblue;
}

#bottomThree {
    height: 100%;
    width: auto;;
}

.bottomThreeImg {
    height: 100%;
    width: 100%;
}

#bottomThreeFeaturedText {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
}

#bottomThreeFeaturedText a {
    color: white;
    text-decoration: none;
}

#bottomThreeFeaturedText a:hover {
    color: deepskyblue;
}