body {
    background-image: url("/Assets/bg.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: deepskyblue;
}

#mainContent {
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 80%;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

#menuBar {
    height: 5%;
    width: 100%;
    
}

#navContent {
    display: inline-table;
    width: 100%;
}

#navContent li {
    display: table-cell;
    vertical-align: middle;
    /* (100 / numItems) */
}

.searchBox {
    border: none;
    height: 30px;
    width: 250px;
    opacity: 0.8;
    border-radius: 8px;
    background-color: #D5E5EB;
    background-image: url("/Assets/searchicon.png");
    background-position-y: 50%;
    background-size: 17px;
    background-repeat: no-repeat;
    text-align: center;
}

.searchBox:focus {
    border-width: 0px;
    outline: none;

}

#featuredProducts {
    background-color: #D5E5EB;
    opacity: 0.7;
    height: 85%;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 5%; bottom: 0; left: 0; right: 0;
}

#featured {
    height: 50%;
    background-image: url("/Assets/climber1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#featured a {
    position: absolute;
    height: 50%;
    width: 34%;
    top: 0;
    left: 0;
    z-index: 10;

}
